<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <img
        src="/assets/amirdaraee-setup.jpg"
        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
        alt="amirdaraee-setup"
        style="max-width: 60%;"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Uses</h3>
      <p>
        Uses is a <a>website</a> developer by <a>Wes Bos</a>. In order to answer
        questions about the software or hardware that a developer uses daily
        each developer get to have a uses page on their website so they can
        easily show their tools.
      </p>
      <p>Check <a>Uses Github repo</a> to find out more</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Editor + Terminal</h4>
      <ul>
        <li>
          <a><strong>Visual Studio Code:</strong></a> as for my personal
          projects and websites, I use VS Code which is in my mind one of the
          best editors out there.
        </li>
        <li>
          <a><strong>Visual Studio Code Theme:</strong></a> after googling alot
          and asking around I choosed Dracula as for my main theme in VS Code.
        </li>
        <li>
          <a><strong>Visual Studio 2019:</strong></a> currently at my work I'm
          using Visual Studio 2019 as my IDE alongside Resharper by JetBrains.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Desktop Apps</h4>
      <ul>
        <li>
          <a><strong>Figma:</strong></a> as for my design tool, I use Figma for
          all of my projects.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Desk Setup</h4>
      <ul>
        <li>
          <a><strong>Samsung C24F390 Monitor 24 Inch:</strong></a> Is my main
          monitor.
        </li>
        <li>
          <a><strong>PC Setup:</strong></a> MotherboardL: <a>Asus H87M-E</a>,
          CPU: <a>Intel Corei5-4440</a>, GPU: <a>Geforce GT-730</a>, Memory: 8GB
          DDR3.
        </li>
        <li>
          <a><strong>My Laptop:</strong></a> Is a Surface Book Series 1 with
          Corei5, 8GB Memory, 120GB SSD.
        </li>
      </ul>
    </div>
  </div>
</div>
