<!-- Navigation -->
<div class="navigation-wrap bg-white start-header start-style">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-light navbar-expand">
          <a class="navbar-brand" [routerLink]="''"
            ><img src="assets/logo.png" alt=""
          /></a>
          <div
            class="collapse navbar-collapse cl-effect-1"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav ml-auto py-4 py-md-0">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/posts'">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/portfolio'">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/about'">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/uses'">Uses</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
