@font-face {
  font-family: 'Operator Mono Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Operator Mono Bold'),
    url('./operator-mono/OperatorMono-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Operator Mono Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Operator Mono Bold Italic'),
    url('./operator-mono/OperatorMono-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Operator Mono Extra Light';
  font-style: normal;
  font-weight: normal;
  src: local('Operator Mono Extra Light'),
    url('./operator-mono/OperatorMono-XLight.woff') format('woff');
}

@font-face {
  font-family: 'Operator Mono Extra Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Operator Mono Extra Light Italic'),
    url('./operator-mono/OperatorMono-XLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Operator Mono Light';
  font-style: normal;
  font-weight: normal;
  src: local('Operator Mono Light'),
    url('./operator-mono/OperatorMono-Light.woff') format('woff');
}

@font-face {
  font-family: 'Operator Mono Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Operator Mono Light Italic'),
    url('./operator-mono/OperatorMono-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Operator Mono Book';
  font-style: normal;
  font-weight: normal;
  src: local('Operator Mono Book'),
    url('./operator-mono/OperatorMono-Book.woff') format('woff');
}

@font-face {
  font-family: 'Operator Mono Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Operator Mono Book Italic'),
    url('./operator-mono/OperatorMono-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Operator Mono Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Operator Mono Medium'),
    url('./operator-mono/OperatorMono-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Operator Mono Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Operator Mono Medium Italic'),
    url('./operator-mono/OperatorMono-MediumItalic.woff') format('woff');
}
