<div class="container justify-content-around">
  <!--soloCoding-->
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img
            src="assets/logo.png"
            class="card-img"
            title="soloCoding"
            alt="solocoding logo app"
          />
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body bg-light">
          <h5 class="card-title">amirdaraee.com</h5>
          <p class="card-subtitle mb-1">
            A personal blog about software development and programming, to
            document and share the things I learned along the way.
          </p>
          <p class="card-text">
            The blog is developed using Angular, Scully as a static generator,
            Bootsrtap.
          </p>
          <p class="card-text">
            <small class="text-muted">Technology used</small>
          </p>
          <span class="badge badge-pill badge-danger">Angular</span>
          <span class="badge badge-pill badge-success">Scully</span>
          <span
            class="badge badge-pill"
            style="background-color: #814dce; color: white;"
            >Bootsrtap</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
