<!-- Page Content -->
<div class="container">
    <main role="main" class="inner cover text-center mt-5">
      <h1 class="cover-heading">
        <img
          class="rounded-circle"
          src="/assets/Amirhossein-Daraee-GIF.gif"
          alt="Amirdaraee"
        />
      </h1>
      <p class="lead text-justify my-5 mr-md-5 ml-md-5">
        Hi, My name is Amirhossein and I'm a Full-Stack web developer from Tehran, Iran and this
        is my spot on the web, where I'm trying to share what I'm learning throughout my
        daily life, I hope you enjoy it.
      </p>
    </main>
    <!-- /.row -->
  </div>
  <!-- /.container -->